body{
    background-color: #1E9CE6;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: hsl(333, 50%, 64%);
    text-align: center;
    padding: 10px;
    font-size: 35px;
    color: rgba(217, 213, 205, 0.979);
        
  }
  h1{
    font-size: 100%;
    -webkit-text-stroke: 2px hsl(333, 29%, 45%);
    letter-spacing: 7px;
    font-weight: 900;
    
  }
  h2{
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 1%;
  }
  h3{
    font-style: italic;
    font-weight: bold;
  }
  #ingeniero{
    font-weight: 300;
    margin: 0px;
    padding: 0px;
  }
  nav{
    display:grid ;
    grid-template-columns: auto auto auto auto;
    background-color: hsl(333, 44%, 58%);
    text-align: center;
    padding: 10px 30px;
    font-size: 25px;
  }
  .menu{
    display: inline-block;
    color: white;
    padding: 10px;
  }
  .menu:hover{
    color: black;
    transition: all 0.1s ease;
  }
#Espacio_Principal {
    background-color: white;
    padding: 15px;
}

#Perfil{
    text-align: center;
    padding: 15px 0px 0px 20px;
}
#Perfil img{
min-width: 124px;
}
img {
    border-radius: 100%;
}

.Información{
  width: auto;
  height: auto;
  display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
   
}

.DP{
  margin: 20px 0px 0px 15px;
  padding: 5px;
  grid-column: 1/3;
}
.Est{
  margin: 20px 0px 0px 15px;
  padding: 5px;
  grid-column: 1/3;
}
#Exp{
  margin: 20px 0px 0px 15px;
  padding: 5px;
  grid-column: 1/3;
}
.Exp{
  margin: 20px 0px 0px 15px;
  padding: 5px;
  grid-column: 1/2;
}
.Video_Exp{
  margin: 0;
  padding: 5px;
  grid-column: 2/3;
}
.IP{
  margin: 20px 0px 0px 15px;
  padding: 5px;
  grid-column: 1/3;
}
@media (max-width: 770px){
  .Exp{
  margin: 10px 0px 0px 15px;
  padding: 3px;
  grid-column: 1/3;
}
.Video_Exp{
  margin: 0;
  padding: 5px;
  grid-column: 1/3;
}
nav{
  display:grid ;
    grid-template-rows: auto auto auto auto;
    background-color: hsl(333, 44%, 58%);
    text-align: start;
    padding: 10px 30px;
    font-size: 25px;
}
#DPM {
  grid-row: 1/2
}
#EstM {
  grid-row: 2/3;
}
#ExpM {
  grid-row: 3/4;
}
#IPM {
  grid-row: 4/4;
}
}

span {
    font-weight: bold;
    width: 20%;    
}
span a {
  color: black; 
}
span a:hover {
  color: hsl(333, 44%, 58%);
  font-style: italic; 
  transition: all 0.1s ease; 
}

ul button{
  border: none;
  font-size: medium;
  padding: 3px;
}
ul button:hover{
  font-style: italic;
  font-weight: bold;
  color: hsl(333, 44%, 58%);
  transition: all 0.1s ease;
}

.fcolegio {
  width: 0px;
  height: 0px;
}
.funi {
  width: 0px;
  height: 0px;
}
.fpayasos {
  width: 0px;
  height: 0px;
}

.fcolegio.foto{
  width: 512px;
  height: 280px;
  background-image: url(Img/Homero\ Adolescente.png);
  grid-column: 1/3;
  margin: 15px;
}
.funi.foto{
  width:  512px ;
  height: 280px;
  background-image: url(Img/Homero\ Universitario.jpg);
  background-size: cover;
  grid-column: 1/3;
  margin: 15px;
}
.fpayasos.foto{
  width: 512px;
  height: 527px;
  background-image: url(Img/Homero\ payaso.jpg);
  background-size: cover;
  grid-column: 1/3;
  margin: 15px;
}

@media (max-width: 660px){
  .fcolegio.foto{
   width: 312px;
   height: 170px;
   background-image: url(Img/Homero\ Adolescente.png);
   background-size: cover;
   grid-column: 1/3;
   margin: 15px;
 }
 .funi.foto{
   width:  312px ;
   height: 170px;
   background-image: url(Img/Homero\ Universitario.jpg);
   background-size: cover;
   grid-column: 1/3;
   margin: 15px;
 }
 .fpayasos.foto{
   width: 312px;
   height: 321px;
   background-image: url(Img/Homero\ payaso.jpg);
   background-size: cover;
   grid-column: 1/3;
   margin: 15px;
 } 
 }


@media (max-width: 440px){
  .fcolegio.foto{
   width: 226px;
   height: 135px;
   background-image: url(Img/Homero\ Adolescente.png);
   background-size: cover;
   grid-column: 1/3;
   margin: 15px;
 }
 .funi.foto{
   width:  226px ;
   height: 135px;
   background-image: url(Img/Homero\ Universitario.jpg);
   background-size: cover;
   grid-column: 1/3;
   margin: 15px;
 }
 .fpayasos.foto{
   width: 226px;
   height: 210px;
   background-image: url(Img/Homero\ payaso.jpg);
   background-size: cover;
   grid-column: 1/3;
   margin: 15px;
 } }




footer{
    background-color: rgba(217, 213, 205, 0.979);
    text-align: center;
    padding: 10px;  
}


.Redes_Sociales {
  display: inline-block;
  transform: translate(-15px, -5px);
}
.Redes_Sociales ul {
  list-style: none;
}
.Redes_Sociales ul li {
  width: 35px;
  height: 35px;
  line-height: 10px;
  padding: 7px;
  margin: 10px;
  border-radius: 50%;
  border: 2px solid rgba(132, 124, 110);
  float: left;
 transition: all 0.1s ease;
}
.Redes_Sociales ul li .fa{
  color: rgba(132, 124, 110);
  margin-top: 1px;
  transition: all 0.1s ease;
}

.Redes_Sociales ul li:hover{
  border: 2px solid hsl(333, 44%, 58%);
  transition: all 0.1s ease;
}

.Redes_Sociales ul li:hover .fa{
  color:hsl(333, 44%, 58%);
  transition: all 0.1s ease;
}



form{
  text-align:unset;
}
input, textarea {
  width: 60%;
  margin: 10px;
  padding: 10px;
}
textarea {
  min-height: 150px;
  max-height: 500px;
  max-width: 60%;
  min-width: 60%;
}
#boton {
  background-color: rgba(151, 142, 126, 0.979) ;
  border: solid rgba(132, 124, 110, 0.979);
  color: white;
  width: 62%;
  margin: 10px;
  padding: 10px;
}

.sub_lista{
  list-style-type: none;
  padding-left: 5px;
}



a{
  text-decoration: none;
}
